<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingtopgroup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
     <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
     <uses-permission android:name="android.permission.CALL_PHONE"/>  
      <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application

        android:allowBackup="true"
        android:name="com.kimgtopgroup.application.AgentApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:label="@string/app_name">
        <!-- android:theme="@style/AppTheme" --> 
        
       <receiver android:name="com.kimgtopgroup.application.MyReceiver">  
            <intent-filter>  
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>  
            </intent-filter>  
        </receiver> 

        <activity
            android:name="com.kingtopgroup.activty.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.indexActivity"
            android:label="@string/index_name" >
            
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.orderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.pedicureActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.messageActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.manipulationActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.loginActivty"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.kingtopgroup.activty.MyActivty"
            android:label="@string/app_name" >
        </activity>
        
          <activity
            android:name="com.kingtopgroup.activty.CooperateActivty"
            android:label="@string/app_name" >
        </activity>
        
           <activity
            android:name="com.kingtopgroup.activty.MoreServiceAgreementActivty"
            android:label="@string/app_name" >
        </activity>
        
           <activity
            android:name="com.kingtopgroup.activty.ServiceScopeActivty"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.kingtopgroup.activty.AddAddressAddActivty"
            android:label="@string/app_name" >
        </activity>
        
           <activity
            android:name="com.kingtopgroup.activty.SomeQuestionActivty"
            android:label="@string/app_name" >
        </activity>]
        
           <activity
            android:name="com.kingtopgroup.activty.AddAddressActivty"
            android:label="@string/app_name" >
        </activity>
        
        
           
        
             <activity
            android:name="com.kingtopgroup.activty.AboutKingTopGroup"
            android:label="@string/app_name" >
        </activity>
        
              <activity
            android:name="com.kingtopgroup.activty.AddKingTopGroupActivty"
            android:label="@string/app_name" >
        </activity>
      
             <activity
            android:name="com.kingtopgroup.activty.OrderForCustomerActivty"
            android:label="@string/app_name" >
        </activity>
        
              <activity
            android:name="com.kingtopgroup.activty.ServieNumActivty"
            android:label="@string/app_name" >
        </activity>
        
               <activity
            android:name="com.kingtopgroup.activty.RegisterActivty"
            android:label="@string/app_name" >
        </activity>
        
               
         <activity
            android:name="com.kingtopgroup.activty.ServiceAddressActivty"
            android:label="@string/app_name" >
        </activity>
        
          <activity
            android:name="com.kingtopgroup.activty.OrderTimeActivty"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>