<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingtopgroup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.kimgtopgroup.application.AgentApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 高德地图使用的debug模式下的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7cf526b2332ca9aedcf9ac28f83bbcbc" />
        <!-- android:theme="@style/AppTheme" -->
        <!-- service 注册 -->
        <service android:name="com.kingtogroup.location.LocationService" >
        </service>

        <receiver android:name="com.kimgtopgroup.application.MyReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.kingtopgroup.activty.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.indexActivity"
            android:label="@string/index_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.orderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.pedicureActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.messageActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.manipulationActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.loginActivty"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.MyActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.CooperateActivt"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.MoreServiceAgreementActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.ChioceManagerActivty"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.ServiceScopeActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.AddAddressAddActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.SomeQuestionActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.AddAddressActivty"
            android:label="@string/app_name" 
            android:theme="@style/Theme_Activity_Animation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.AboutKingTopGroup"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.AddKingTopGroupActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.OrderForCustomerActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.ServieNumActivty"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.RegisterActivty"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.ServiceAddressActivty"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.OrderTimeActivty"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.kingtopgroup.activty.PersonalActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.PreferActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.ManageAddressActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.AddAddressActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.MeOrderActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.EditAddressActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.AgreementActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.AboutUSActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.MemberCardActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.SubmitOrderActivty"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.ShareActivity"
            android:theme="@style/Theme_Activity_Animation" />
         <activity
            android:name="com.kingtopgroup.activty.MessagerDetialActivty"
            android:theme="@style/Theme_Activity_Animation" />
        
        <activity
            android:name="com.kingtopgroup.activty.PayInfoActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.kingtopgroup.activty.FirmWorkActivity" />
        <activity android:name="com.kingtopgroup.activty.JoinActivity" />
        <activity
            android:name="com.kingtopgroup.activty.CommonActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.kingtopgroup.activty.CommitActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <!--
        <activity android:name="com.kingtopgroup.activty.FirmWorkActivity" />
        <activity android:name="com.kingtopgroup.activty.JoinActivity" />
        -->
        <activity
            android:name="com.kingtopgroup.activty.RangeActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.kingtopgroup.activty.CoworkActivity" />
        <activity android:name="com.kingtopgroup.activty.MoreActivity" />
        <activity
            android:name="com.kingtopgroup.activty.DiscusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.kingtopgroup.activty.ConfirmOrderActivity"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.kingtopgroup.activty.MoreMassagers"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.kingtopgroup.activty.CheckPreferActivity"
            android:theme="@style/Theme_Activity_Animation" />
    </application>

</manifest>